<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a ng-href="/myclients/{{client._id}}">
            <h1><strong>{{client.name}}</strong></h1>
          </a>
          <h1>Account</h1>
          <h2>{{account.name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Description</h3>
          <p>{{account.description}}</p>
          <h3>Account Overview</h3>
          <p>Total Cash Balance: <span ng-if="!client.total_cash_balance">N/A</span></p>
          <p>Total Liability: <span ng-if="!client.total_cash_balance">N/A</span></p>
          <p>Total Holdings Balance: <span ng-if="!client.total_cash_balance">N/A</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          <!-- Can't actually delete clients. Will be able to transfer later -->
          <!-- <a ng-click="openModal()" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a> -->
          <h3>Sub Accounts</h3>
          <h4>Basic Accounts</h4>
          <div ng-if="account.basicaccounts.length < 1">
            <div class="alert alert-danger" role="alert">No basic accounts found!</div>
          </div>
          <ul class="list-group">
              <li class="list-group-item" ng-repeat="basicaccount in account.basicaccounts | filter:asyncSelected | orderBy: 'name'">
                  <div class="row">
                    <div class="col-xs-8">
                      <h4>{{basicaccount.name}}
                      <!--<span class="text-muted">#{{account.account_number}}</span>-->
                      </h4>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed">Details</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div collapse="!isCollapsed">
                        <div class="well well-lg">Some content</div>
                        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"></pagination>
                      </div>
                    </div>
                  </div>
              </li>
          </ul>
          <h4>Investment Accounts</h4>
          <div ng-if="account.investmentaccounts.length < 1">
            <div class="alert alert-danger" role="alert">No investment accounts found!</div>
          </div>
          <ul class="list-group">
              <li class="list-group-item" ng-repeat="investmentaccount in account.investmentaccounts | filter:asyncSelected | orderBy: 'name'">
                  <div class="row">
                    <div class="col-xs-8">
                      <h4>{{investmentaccount.name}}
                      <!--<span class="text-muted">#{{account.account_number}}</span>-->
                      </h4>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed">Details</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div collapse="!isCollapsed">
                        <div class="well well-lg">Some content</div>
                        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"></pagination>
                      </div>
                    </div>
                  </div>
              </li>
          </ul>
          <h4>Loans</h4>
          <div ng-if="account.loans.length < 1">
            <div class="alert alert-danger" role="alert">No loans found!</div>
          </div>
          <ul class="list-group">
              <li class="list-group-item" ng-repeat="loan in account.loans | filter:asyncSelected | orderBy: 'name'">
                  <div class="row">
                    <div class="col-xs-8">
                      <h4>{{loan.name}}
                      <!--<span class="text-muted">#{{account.account_number}}</span>-->
                      </h4>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed">Details</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div collapse="!isCollapsed">
                        <div class="well well-lg">Some content</div>
                        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"></pagination>
                      </div>
                    </div>
                  </div>
              </li>
          </ul>
        </div>  
      </div>
      <!--
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"></pagination>
        </div>
      </div>
      -->
    </div>
  </div>
</div>