<div ng-include="'components/navbar/navbar.html'"></div>
<!--<div ng-include="'components/breadcrumbs/breadcrumbs.html'"></div>-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a ng-href="/myclients/{{client._id}}">
            <h1><strong>{{client.name}}</strong></h1>
          </a>
          <h1>Account</h1>
          <h2>{{account.name}}
            <button class="btn btn-default btn-md" ng-click="refreshdata()"><i class="glyphicon glyphicon-repeat"></i></button>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Description</h3>
          <p>{{account.description}}</p>
          <h3>Account Overview</h3>
          <p>Total Cash Balance: ${{account.total_balance}}</p>
          <p>Total Liability: <span ng-if="!client.total_cash_balance">N/A</span></p>
          <p>Total Holdings Balance: ${{account.total_holdings}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          <!-- Can't actually delete clients. Will be able to transfer later -->
          <!-- <a ng-click="openModal()" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a> -->
          <h3>Sub Accounts</h3>
          <h4>Basic Accounts</h4>
          <div ng-show="0 < account.basicaccounts.length">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="basicaccount in account.basicaccounts | orderBy: 'name'">
                <div class="row">
                  <div class="col-xs-8">
                    <h4>{{basicaccount.name}}
                      <span class="text-muted">#{{basicaccount.account_number}}</span>
                    </h4>
                  </div>
                  <div class="col-xs-4">
                    <button class="btn btn-primary pull-right" ng-click="getSubAccountDetails(basicaccount, isCollapsed); isCollapsed = !isCollapsed">Details</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div collapse="!isCollapsed">
                      <h4>Account Details</h4>
                      <h5>Description</h5>
                      <p ng-if="!basicaccount.description">None</p>
                      <p>{{basicaccount.description}}</p>
                      <h5>Type</h5>
                      <p>{{basicaccount.account_type}}</p>
                      <h5>Available Balance</h5>
                      <p>${{basicaccount.available_balance}}</p>
                      <h5>Total Balance</h5>
                      <p>${{basicaccount.total_balance}}</p>
                      <div ng-if="0 < basicaccount.transactions.length">
                        <h5>Transactions</h5>
                        <table class="table table-bordered">
                          <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Currency Codes</th>
                            <th>Merchant Name</th>
                            <th>Merchant Category</th>
                          </tr>
                          <tr ng-repeat="transaction in basicaccount.transactions | orderBy: 'added'">
                            <td>{{transaction.added | date : format : timezone}}</td>
                            <td>{{transaction.description}}</td>
                            <td>
                              <!-- Need the negative sign if it's negative -->
                              <span ng-if="!transaction.positive">-</span>${{transaction.amount}}
                            </td>
                            <td>{{transaction.currency_codes}}</td>
                            <td>{{transaction.merchant_name}}</td>
                            <td>{{transaction.merchant_category}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div ng-show="0 < account.investmentaccounts.length">
            <h4>Investment Accounts</h4>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="investmentaccount in account.investmentaccounts | orderBy: 'name'">
                <div class="row">
                  <div class="col-xs-8">
                    <h4>{{investmentaccount.name}}
                      <span class="text-muted">#{{investmentaccount.account_number}}</span>
                    </h4>
                  </div>
                  <div class="col-xs-4">
                    <button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed">Details</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div collapse="!isCollapsed">
                      <h4>Account Details</h4>
                      <h5>Description</h5>
                      <p ng-if="!investmentaccount.description">None</p>
                      <p>{{investmentaccount.description}}</p>
                      <h5>Type</h5>
                      <p>{{investmentaccount.account_type}}</p>
                      <h5>Balance</h5>
                      <p>${{investmentaccount.balance}}</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div ng-show="0 < account.loans.length">
            <h4>Loans</h4>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="loan in account.loans | orderBy: 'name'">
                <div class="row">
                  <div class="col-xs-8">
                    <h4>{{loan.name}}
                      <span class="text-muted">#{{loan.account_number}}</span>
                    </h4>
                  </div>
                  <div class="col-xs-4">
                    <button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed">Details</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div collapse="!isCollapsed">
                      <h4>Account Details</h4>
                      <h5>Description</h5>
                      <p ng-if="!loan.description">None</p>
                      <p>{{loan.description}}</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--
      <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
      <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"></pagination>
    </div>
  </div>
-->
</div>
</div>
</div>
