<div ng-include="'components/navbar/navbar.html'"></div>
<!--<div ng-include="'components/breadcrumbs/breadcrumbs.html'"></div>-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="page-title"><strong>{{client.name}}</strong>
            <button ng-class="btnColor" class="btn btn-md" ng-click="refreshdata()"><i class="glyphicon glyphicon-repeat"></i></button>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Details</h3>
          <h4>Description</h4>
          <p>
            {{client.description}}
            <span ng-if="!client.description">No description provided.</span>
          </p>
          <h4>Client Since</h4>
          <p>{{client.added | date : format : timezone}}</p>
          <h3>Contact</h3>
          <h4>Phone</h4>
          <span ng-if="!client.phone">N/A</span>
          <h4>Email</h4>
          <p>{{client.email}}</p>
          <!--<h3>Accounts Overview</h3>
          <p>Total Cash Balance: <span ng-if="!client.total_cash_balance">N/A</span></p>
          <p>Total Liability: <span ng-if="!client.total_cash_balance">N/A</span></p>
          <p>Total Holdings Balance: <span ng-if="!client.total_cash_balance">N/A</span></p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- <a ng-click="openModal()" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a> -->
          <h3>Accounts</h3>
          <ul class="list-group">
              <li class="list-group-item" ng-repeat="account in accounts | filter:asyncSelected | orderBy: 'name'">
                <div class="row">
                  <div class="col-xs-10">
                    <a href="/myclients/{{client._id}}/account/{{account._id}}">
                      <h4><strong>{{account.name}}</strong>
                      <!--<span class="text-muted">#{{account.account_number}}</span>-->
                      </h4>
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn btn-danger pull-right" ng-click="deleteAccount(account)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-block" ng-click="isCollapsed = !isCollapsed">Add Account</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div collapse="!isCollapsed">
                      <form class="form" style="margin-top:10px;" name="form" ng-submit="addAccount(form)" novalidate>
                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" name="name" class="form-control" ng-model="newAccount.name" required>
                        </div>
                        <div class="form-group">
                          <label>Site URL</label>
                          <input type="text" name="email" class="form-control" ng-model="newAccount.site" required>
                        </div>
                        <div class="form-group">
                          <label>Username</label>
                          <input type="text" name="username" class="form-control" ng-model="newAccount.username" required>
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" name="password" class="form-control" ng-model="newAccount.password" required>
                        </div>
                        <!-- Error handling -->
                        <div class="form-group has-error">
                          <p class="help-block" ng-show="form.email.$error.email && submitted">
                            Please enter a valid email.
                          </p>
                          <p class="help-block">{{ errors.other }}</p>
                        </div>
                        <div>
                          <button class="btn btn-default btn-md btn-login" ng-click="isCollapsed = false" type="submit">
                            Create
                          </button>
                          <button class="btn btn-inverse btn-md btn-login" ng-click="clearClient(); isCollapsed = false">
                            Cancel
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"></pagination>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
