<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1><strong>{{client.name}}</strong> <h4 class="text-muted">{{client.email}}</h4></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Description</h3>
          <p>
            {{client.description}}
            <span ng-if="!client.description">No description provided.</span>
          </p>
          <h3>Overview</h3>
          <p>Client Since: {{client.added}}</p>
          <p>Total Cash Balance: <span ng-if="!client.total_cash_balance">N/A</span></p>
          <p>Total Liability: <span ng-if="!client.total_cash_balance">N/A</span></p>
          <p>Total Holdings Balance: <span ng-if="!client.total_cash_balance">N/A</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- <a ng-click="openModal()" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a> -->
          <h3>Accounts:</h3>
          <div ng-if="accounts.length < 1">
            <div class="alert alert-danger" role="alert">No accounts found!</div>
          </div>
          <ul class="list-group">
              <li class="list-group-item" ng-repeat="account in accounts | filter:asyncSelected | orderBy: 'name'">
                  <a href="/myclients/{{client._id}}/account/{{account._id}}">
                    <h4><strong>{{account.name}}</strong> 
                    <!--<span class="text-muted">#{{account.account_number}}</span>-->
                    </h4>
                  </a>
              </li>
          </ul>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
